.Penguin-card{
    border: 0;
}
.Penguin-card-footer{
    background-color: white;
    border: 0;

}
.categories img{
  width: 100px;
}
.Penguin-slide .carousel-item{
    border-radius: 1em;
}
.Penguin-card-footer span{
    font-size: 20px;
}
.Penguin-slide .carousel-item span{
    color: gold;
}
.categories{
 
}
.pic{

}
@media (max-width: 575.98px) { 
    .categories{
        width: 100%;
    }
    .pic{
    width: 100%;
    }
 }
 small{
    font-weight: 500;
     font-size: 20px;
 }